<!DOCTYPE html>

<html ng-app="app" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Classroom Grants</title>

    <!--Angular Scripts-->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
        <script src="bower_components/ngMask/dist/ngMask.min.js"></script>
        <script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
        <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <script src="bower_components/spin.js/spin.min.js"></script>
        <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
        <script src="bower_components/ngSweetAlert/SweetAlert.min.js"></script>
        <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script src="bower_components/Chart.js/Chart.min.js"></script>

        <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/sb-admin.css" rel="stylesheet">
    <link href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS layout color, brand -->
    <link href="css/custom.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body ng-cloak>
    	<div ng-controller="NavCtrl">
    		<div ng-switch="getNavLayoutState()">
    			<div ng-switch-when="loggedOut">
	    				<div id="page-wrapper">
							<div class="container-fluid">
	    						<div class="faded" ui-view></div>
			    			</div>
			    		</div>
    			</div>
    			<div ng-controller="NavCtrl" ng-switch-when="loggedIn">
    				<!-- Navigation -->
    				<div id="wrapper">
    					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    						<!-- Brand and toggle get grouped for better mobile display -->
    						<div class="navbar-header">
    							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    								<span class="sr-only">Toggle navigation</span>
    								<span class="icon-bar"></span>
    								<span class="icon-bar"></span>
    								<span class="icon-bar"></span>
    							</button>

                                <!--added logo -->
                                <a class="navbar-brand" style="margin:auto" href="http://www.educationfoundation.com/">
                                    <img id = "brand-image" alt="Website Logo" src="https://aspringclients.blob.core.windows.net/spring-public/1470-Logo.png"  height=65px width = 250px />
                                </a>



    							<!--added navbar-brand2 for the brand style-->
                                <a class="navbar-brand2 navbar-brand">Classroom Grants</a>
    						</div>
    						<!-- Top Menu Items -->
    						<ul class="nav navbar-right top-nav">
                                <!--
    							<li class="dropdown">
    								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
    								<ul class="dropdown-menu message-dropdown">
    									<li class="message-preview">
    										<a href="#">
    											<div class="media">
    												<span class="pull-left">
    													<img class="media-object" src="http://placehold.it/50x50" alt="">
    												</span>
    												<div class="media-body">
    													<h5 class="media-heading"><strong>{{user.firstName + ' ' + user.lastName}}</strong>
    													</h5>
    													<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
    													<p>Lorem ipsum dolor sit amet, consectetur...</p>
    												</div>
    											</div>
    										</a>
    									</li>
    									<li class="message-preview">
    										<a href="#">
    											<div class="media">
    												<span class="pull-left">
    													<img class="media-object" src="http://placehold.it/50x50" alt="">
    												</span>
    												<div class="media-body">
    													<h5 class="media-heading"><strong>{{user.firstName + ' ' + user.lastName}}</strong>
    													</h5>
    													<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
    													<p>Lorem ipsum dolor sit amet, consectetur...</p>
    												</div>
    											</div>
    										</a>
    									</li>
    									<li class="message-preview">
    										<a href="#">
    											<div class="media">
    												<span class="pull-left">
    													<img class="media-object" src="http://placehold.it/50x50" alt="">
    												</span>
    												<div class="media-body">
    													<h5 class="media-heading"><strong>John Smith</strong>
    													</h5>
    													<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
    													<p>Lorem ipsum dolor sit amet, consectetur...</p>
    												</div>
    											</div>
    										</a>
    									</li>
    									<li class="message-footer">
    										<a href="#">Read All New Messages</a>
    									</li>
    								</ul>
    							</li>
                             
    							<li class="dropdown">
    								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
    								<ul class="dropdown-menu alert-dropdown">
    									<li>
    										<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
    									</li>
    									<li>
    										<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
    									</li>
    									<li>
    										<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
    									</li>
    									<li>
    										<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
    									</li>
    									<li>
    										<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
    									</li>
    									<li>
    										<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
    									</li>
    									<li class="divider"></li>
    									<li>
    										<a href="#">View All</a>
    									</li>
    								</ul>
    							</li>-->
    							<li class="dropdown">
    								<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.firstName + ' ' + user.lastName}}<b class="caret"></b></a>
    								<ul class="dropdown-menu">
    									<li>
    										<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
    									</li>
    									<li>
    										<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
    									</li>
    									<li>
    										<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
    									</li>
    									<li class="divider"></li>
    									<li>
    										<a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
    									</li>
    								</ul>
    							</li>
    						</ul>
    						<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    						<div ng-cloak class="collapse navbar-collapse navbar-ex1-collapse">
    							<ul class="nav navbar-nav side-nav">
    								<li ng-if="isAdmin" ng-class="{active: isActive('/dashboards/admin')}">
    									<a href="#{{dashboardPath}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    								</li>
                                    <li ng-if="isReviewer" ng-class="{active: isActive('/dashboards/reviewer')}">
                                        <a href="#{{dashboardPath}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                                    </li>
    								<li ng-if="isAdmin" ng-class="{active: isActive('/users')}">
    									<a href="#/users"><i class="fa fa-fw fa-user"></i> Users</a>
    								</li>
    								<li ng-if="isAdmin" ng-class="{active: isActive('/applications/admin')}">
    									<a href="#{{applicationsPath}}"><i class="fa fa-fw fa-file"></i> Applications</a>
    								</li>
                                    <li ng-if="isReviewer" ng-class="{active: isActive('/applications/reviewer')}">
                                        <a href="#{{applicationsPath}}"><i class="fa fa-fw fa-file"></i> My Queue</a>
                                    </li>
                                    <li ng-if="isApplicant" ng-class="{active: isActive('/applications/applicant')}">
                                        <a href="#{{applicationsPath}}"><i class="fa fa-fw fa-file"></i> My Applications</a>
                                    </li>
                                    <li ng-if="isAdmin" ng-class="{active: isActive('/awards')}">
                                        <a href="#/awards"><i class="fa fa-fw fa-trophy"></i> Awards</a>
                                    </li><!--
    								<li>
    									<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
    								</li>
    								<li>
    									<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
    								</li>
    								<li>
    									<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
    								</li>
    								<li>
    									<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
    									<ul id="demo" class="collapse">
    										<li>
    											<a href="#">Dropdown Item</a>
    										</li>
    										<li>
    											<a href="#">Dropdown Item</a>
    										</li>
    									</ul>
    								</li>
    								<li>
    									<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
    								</li>
    								<li>
    									<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
    								</li>-->
    							</ul>
    						</div>
    						<!-- /.navbar-collapse -->
    					</nav>
    					<div id="page-wrapper">
    						<div class="container-fluid">
    							<div style="height:100%;" class="faded" ui-view></div>
    						</div><!-- /.container-fluid -->
    					</div><!-- /#page-wrapper -->
    				</div><!-- /#wrapper -->
    			</div><!-- ng-switch-when loggedIn-->
    		</div><!--ng-switch-->
    	</div><!--layout controller-->

        

        <!--Application Scripts-->
    	<script src="app/app.module.js"></script>
    	<script src="app/app.router-config.js"></script>
    	<script src="app/login/login.controller.js"></script>
    	<script src="app/register/register.controller.js"></script>
    	<script src="app/navigation.controller.js"></script>
    	<script src="app/project/project.controller.js"></script>
    	<script src="app/budget/budget.controller.js"></script>
    	<script src="app/dashboards/admin/admin-dashboard.controller.js"></script>
    	<script src="app/users/modals/user/user-registration-modal.controller.js"></script>
        <script src="app/users/modals/user/user-registration-modal.factory.js"></script>
    	<script src="app/dashboards/reviewer/reviewer-dashboard.controller.js"></script>
        <script src="app/users/users.controller.js"></script>
        <script src="app/applications/admin/admin-applications.controller.js"></script>
        <script src="app/applications/reviewer/reviewer-applications.controller.js"></script>
        <script src="app/applications/applicant/applicant-applications.controller.js"></script>
        <script src="app/applications/admin/modals/reviewer-assignment/reviewer-assignment-modal.controller.js"></script>
        <script src="app/applications/admin/modals/application-details/application-detail-modal.controller.js"></script>
        <script src="app/applications/admin/modals/applications-modal-service.factory.js"></script>
        <script src="app/applications/applicant/modals/application-editor/application-editor-modal.controller.js"></script>
        <script src="app/applications/reviewer/modals/review-editor/review-editor.controller.js"></script>
        <script src="app/services/applications-service.factory.js"></script>
        <script src="app/services/users-service.factory.js"></script>
        <script src="app/awards/awards.controller.js"></script>
        <script src="app/services/mail-service.factory.js"></script>
        <script src="app/services/reviews-service.factory.js"></script>
        <script src="app/awards/awards.controller.js"></script>
        <script src="app/awards/review-summary/review-summary.controller.js"></script>
        <script src="app/awards/review-summary/modals/reviews-modal.controller.js"></script>
        <script src="app/services/application-cache.factory.js"></script>
        <script src="app/services/chart-service.factory.js"></script>

	    <!-- jQuery -->
	    <script src="js/jquery.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js"></script>

    </body>
    </html>