<div class="container">
	<h1>Profile</h1>

	<h3>Projects</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Project Title</th>
				<th>Project Category</th>
				<th>Grade Level</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td>{{project.projectTitle}}</td>
				<td>{{project.projectCategory}}</td>
				<td>{{project.gradeLevel}}</td>
				<td>{{project.projectStatus}}</td>
				<td><button ng-click="viewProjectDetails(project._id)" class="btn btn-info">Edit Project Details</button>
				<td><button ng-click="viewItems(project._id)" class="btn btn-primary">View Budget Items</button><td>
			</tr>
		</tbody>
	</table>
</div>