<!-- add topbar for brand and logo -->
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  >
        <div class="navbar-header" >
              <a class="navbar-brand" style="text-align: center" href="http://www.educationfoundation.com/">
                 <img id = "brand-image" alt="Website Logo" src="https://aspringclients.blob.core.windows.net/spring-public/1470-Logo.png"  height=65px width = 250px  />
              </a>
            <a class="navbar-brand2 navbar-brand">Classroom Grants</a>
        </div>
    </nav>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <span us-spinner="{radius:7, width:2, length: 4}" spinner-key="spinner-1"></span>
         <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <div class="panel panel-default">
              <div class="panel-heading">
                   <h1 class="panel-title"></i>Register</h1>
              </div>
              <div class="panel-body">
                     <form name="form" ng-submit="handleNext(user)" role="form">
                     <div ng-switch="getCurrentStep()">
                            <div ng-switch-when="one" class="faded">
                                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
                                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
                                    <label for="confirmPassword">Cofirm Password</label>
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="user.confirmPassword" required />
                                    <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Password confirmation is required</span>
                                </div>
                            </div>   
                            <div ng-switch-when="two" class="faded">
                                <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                                    <label for="username">First name</label>
                                    <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
                                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                                    <label for="username">Last name</label>
                                    <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastName" required />
                                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
                                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.phone.$dirty && form.phone.$error.required }">
                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone" mask="(999) 999-9999" clean="true"  id="phone" class="form-control" ng-model="user.phone" required />
                                    <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">Phone is required</span>
                                </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.street.$dirty && form.street.$error.required }">
                                      <label for="street">Street</label>
                                      <input type="text" name="street" id="street" class="form-control" ng-model="user.street" required />
                                      <span ng-show="form.street.$dirty && form.street.$error.required" class="help-block">Street is required</span>
                                  </div>
                                  <div class="form-group" ng-class="{ 'has-error': form.city.$dirty && form.city.$error.required }">
                                      <label for="city">City</label>
                                      <input type="text" name="city" id="city" class="form-control" ng-model="user.city" required />
                                      <span ng-show="form.city.$dirty && form.city.$error.required" class="help-block">School city is required</span>
                                  </div>
                                  <div class="form-group" ng-class="{ 'has-error': form.state.$dirty && form.state.$error.required }">
                                      <label for="state">State</label>
                                      <input type="text" name="state" id="state" class="form-control" ng-model="user.state" required />
                                      <span ng-show="form.state.$dirty && form.state.$error.required" class="help-block">State is required</span>
                                  </div>
                                  <div class="form-group" ng-class="{ 'has-error': form.zip.$dirty && form.zip.$error.required }">
                                      <label for="zip">Zip</label>
                                      <input type="text" name="zip" id="zip" class="form-control" ng-model="user.zip" required />
                                      <span ng-show="form.zip.$dirty && form.zip.$error.required" class="help-block">Zip is required</span>
                                  </div>
                            </div>
                            <div ng-switch-when="three" class="faded">
                                <div class="form-group" ng-class="{ 'has-error': form.securityQuestion1.$dirty && form.securityQuestion1.$error.required }">
                                      <label for="securityQuestion1">Security Question 1:</label>
                                      <select ng-options="question for question in securityQuestions" name="securityQuestion1" id="securityQuestion1" class="form-control" ng-model="user.securityQuestion1" required></select>
                                      <span ng-show="form.securityQuestion1.$dirty && form.securityQuestion1.$error.required" class="help-block">Please select a question</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.securityAnswer1.$dirty && form.securityAnswer1.$error.required }">
                                  <label for="securityAnswer1">Answer:</label>
                                  <input type="text" name="securityAnswer1" id="securityAnswer1" class="form-control" ng-model="user.securityAnswer1" required />
                                  <span ng-show="form.securityAnswer1.$dirty && form.securityAnswer1.$error.required" class="help-block">Please enter an answer</span>
                              </div>
                            </div> <!--ng-switch-when-securiy questions-->
                     </div> <!--ng-switch-->
                     <div class="form-actions text-right">
                            <button ng-show="isFirstStep()" type="reset" ng-click="checkUsernameAndPassword()" ng-disabled="form.$invalid" class="btn btn-primary pull-left">Register</button>
                             <a ng-show="isFirstStep()" ui-sref="login" class="btn btn-link pull-left">Already Registered?&nbsp;Login</a>
                            <button class="btn btn-default" type="reset" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</button>
                            <button ng-hide="isFirstStep()" type="submit" ng-disabled="form.$invalid" class="btn btn-primary">{{getNextLabel()}}</button>
                     </div>   
                     </form>
              </div><!--panel body-->
        </div><!--panel-->
    </div>
</div>