<div class="container">
	<h1>Reviewer Dashboard</h1>

	<h3>Projects</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>School</th>
				<th>Project Title</th>
				<th>Project Category</th>
				<th>Grade Level</th>
				<th>Date Created</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td>{{project.schoolName}}</td>
				<td>{{project.projectTitle}}</td>
				<td>{{project.projectCategory}}</td>
				<td>{{project.gradeLevel}}</td>
				<td>{{project.dateCreated | date:"MM/dd/yyyy"}}</td>
				<td>{{project.projectStatus}}</td>
				<td><button ng-click="viewProjectDetails(project._id)" class="btn btn-info">View Project Details</button>
			</tr>
		</tbody>
	</table>
</div>